@page "/"

<h3>Bienvenido a esta nueva aplicación</h3>

<div class="alert alert-dark mt-3" role="alert">
    Este es un pequeño ejercicio sobre la creación de un CRUD mediante la tecnología <b>.NET EntityFrameWork Core</b> y <b>Blazor</b>. Lo primero que se debe hacer es conectar un servicio .NET CORE a una base de datos. Mediante Blazor nos conectaremos a dicho servicio y crear así una Single Page Application.
</div>

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-2">
        <img src="../images/blazor.png" asp-append-version="true" title="Blazor" style="max-height: 200px; width: 100%; max-width:200px;">
    </div>
    <div class="col-1">

    </div>
    <div class="col-2">
        <img src="../images/netcore.png" asp-append-version="true" title=".NET EntityFramework Core" style="max-height: 200px; width: 100%; max-width:200px;">
    </div>
    <div class="col-1">

    </div>
    <div class="col-2">
        <img src="../images/sql-server.png" asp-append-version="true" title="SQL Server" style="max-height: 200px; width: 100%; max-width:250px;">
    </div>
    <div class="col-2">

    </div>
</div>

<div>
    <div class="mt-2 mb-2">Esta aplicación o proyecto Web simula la gestión de un centro de educación. Mediante la aplicación el usuario puede añadir alumnos al centro, profesores, asignaturas y finalmente gestionar las calificaciones de los alumnos.</div>

    <div class="mt-2 mb-2">Los pasos a seguir para implementar esta aplicación son:</div>

    <ul>
        <li>Creación de una base de datos</li>
        <li>Creación del servicio MVC .NET Core</li>
        <li>Creación de la aplicación Blazor</li>
    </ul>

    <div class="mt-2 mb-2">El diseño de nuestra base de datos sería el que se muestra en la imagen:</div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img src="../images/database.jpg" asp-append-version="true" title="Base de datos" style="width:100%;">
        </div>
        <div class="col-3"></div>
    </div>
</div>


